<footer class="text-left bg-dark blog-footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="text-light">&copy;
          <a class="font-weight-bold text-light" href="./assets/pdp.pdf">Política de privacidad</a>
        </p>
      </div>
      <div class="text-right col accordion fixed-bottom encima">
          <h2 class="acc_trigger font-weight-bold text-light"><a href="#">Chatbot</a></h2>
          <div class="acc_container">
            <div class="block"> <iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/0fad2f44-3914-4ebf-8254-ddc07cfe64e3"></iframe>
            </div>
          </div>
      </div>
    </div>
  </div>
</footer>