<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <app-header></app-header>
    <app-navbar></app-navbar>
    <main>
        <div class="row">
            <div class="col-8">
                <router-outlet></router-outlet>
            </div>
            <div class="col-4">
                <iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/0fad2f44-3914-4ebf-8254-ddc07cfe64e3">
                </iframe>
            </div>
        </div>
    </main>
    <app-footer></app-footer>
</div>