<p>
  blog works!
</p>

<div class="container">
  <h1>Blog</h1>
  <div class="container py-3">
    <div class="card">
      <div class="row"  *ngFor="let blog of blogs">
        <div class="col-md-8 px-3">
          <div class="card-block px-3">
            <h4 class="card-title">{{ blog.titulo }}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ blog.tema }}</h6>
            <p class="card-text">{{ blog.descripcion }}</p>
            <a href="#" class="btn btn-primary">Read More</a>
          </div>
        </div>
        <div class="col-md-4">
          <img src="{{ blog.imagen }}" class="w-100">
        </div>
      </div>
    </div>
  </div>
</div>